---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=39.74001,%20-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999945'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/07/2024 10:12:56'
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 834965e9e3638c581b4ef990d1cf3f98
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1723025483,"localtime":"2024-08-07
        04:11"},"current":{"last_updated_epoch":1723024800,"last_updated":"2024-08-07
        04:00","temp_c":23.4,"temp_f":74.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":234,"wind_dir":"SW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"humidity":43,"cloud":4,"feelslike_c":24.6,"feelslike_f":76.4,"windchill_c":23.4,"windchill_f":74.2,"heatindex_c":24.6,"heatindex_f":76.4,"dewpoint_c":9.9,"dewpoint_f":49.8,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":5.5,"gust_kph":8.8},"forecast":{"forecastday":[{"date":"2024-08-07","date_epoch":1722988800,"day":{"maxtemp_c":36.6,"maxtemp_f":97.9,"mintemp_c":22.4,"mintemp_f":72.4,"avgtemp_c":27.5,"avgtemp_f":81.5,"maxwind_mph":10.7,"maxwind_kph":17.3,"totalprecip_mm":0.49,"totalprecip_in":0.02,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":34,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":10.0},"astro":{"sunrise":"06:05
        AM","sunset":"08:05 PM","moonrise":"09:07 AM","moonset":"09:49 PM","moon_phase":"Waxing
        Crescent","moon_illumination":6,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1723010400,"time":"2024-08-07
        00:00","temp_c":25.1,"temp_f":77.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":231,"wind_dir":"SW","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":43,"cloud":8,"feelslike_c":25.6,"feelslike_f":78.0,"windchill_c":25.1,"windchill_f":77.2,"heatindex_c":25.6,"heatindex_f":78.0,"dewpoint_c":11.8,"dewpoint_f":53.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":17.6,"gust_kph":28.4,"uv":0},{"time_epoch":1723014000,"time":"2024-08-07
        01:00","temp_c":24.5,"temp_f":76.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":234,"wind_dir":"SW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":42,"cloud":11,"feelslike_c":25.2,"feelslike_f":77.4,"windchill_c":2[...]
