---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=Long%20Beach,%20NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.576 TT 0 0.678"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 54,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_key": [
                        "OL13955997A"
                    ],
                    "author_name": [
                        "Community Housing & Planning Associates"
                    ],
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                    "edition_count": 1,
                    "edition_key": [
                        "OL52860192M"
                    ],
                    "first_publish_year": 1970,
                    "has_fulltext": false,
                    "key": "/works/OL38823474W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1721867160,
                    "number_of_pages_median": 78,
                    "oclc": [
                        "30661145"
                    ],
                    "public_scan_b": false,
                    "publish_date": [
                        "1970"
                    ],
                    "publish_place": [
                        "New York (State)?]"
                    ],
                    "publish_year": [
                        1970
                    ],
                    "publisher": [
                        "City of Long Beach?"
                    ],
                    "seed": [
                        "/books/OL52860192M",
                        "/works/OL38823474W",
                        "/authors/OL13955997A",
                        "/subjects/city_planning",
                        "/subjects/place:long_beach_(n.y.)",
                        "/subjects/place:new_york_(state)",
                        "/subjects/place:long_beach"
                    ],
                    "title": "Updated master plan for the city of Long Beach, N.Y., 1970",
                    "title_sort": "Updated master plan for the city of Long Beach, N.Y., 1970",
                    "title_suggest": "Updated master plan for the city of Long Beach, N.Y., 1970",
                    "type": "work",
                    "subject": [
                        "City planning"
                    ],
                    "place": [
                        "Long Beach (N.Y.)",
                        "New York (State)",
                        "Long Beach"
                    ],
                    "readinglog_count": 0,
                    "want_to_read_count": 0,
                    "currently_reading_count": 0,
                    "already_read_count": 0,
                    "publisher_facet": [
                        "City of Long Beach?"
                    ],
                    "place_key": [
                        "long_beach",
                        "long_beach_(n.y.)",
                        "new_york_(state)"
                    ],
                    "subject_facet": [
                        "City planning"
                    ],
                    "_version_": 1805508585296232451,
                    "place_facet": [
                        "Long Beach",
                        "Long Beach (N.Y.)",
                        "New York (State)"
                    ],
                    "author_facet": [
                        "OL13955997A Community Housing & Planning Associates"
                    ],
                    "subject_key": [
                        "city_planning"
                    ]
                },
                {
                    "author_alternative_name": [
                        "Patterson, James; Paetro, Maxine",
                        "JAMES. PATTERSON",
                        "patterson-james",
                        "James Patterson Ned Rust",
                        "James B. Patterson",
                        "J Patterson",
                        "Patterson, James, Gross, Andrew",
                        "Patterson, James, Grabenstein, Chris",
                        "James Patterson (Editor)",
                        "Patterson, Ja[...]
